.footer {
    display: flex;
    justify-content: space-between;

    padding: 20px 10px;
    font-weight: 500;
    font-size: 0.8rem;
}

.footer a {
    color: rgb(68 74 87);
}

@media (min-width: 1024px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 700;
        font-size: 1rem;
    }
}

.links a {
    margin-left: 10px;
    margin-right: 10px;
}
