.layout {
    min-height: 100vh;
    background: var(--layout-background, #fff);
    color: var(--layout-color, rgb(40 44 53));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
