.menu {
    position: fixed;
    top: 8px;
    left: 0;
    right: 0;
    height: 55px;
    backdrop-filter: blur(20px);
    background-color: rgb(0 0 0 / 3%);
    z-index: 1;

    border-radius: 20px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display: flex;
}

.button {
    position: fixed;
    text-align: center;

    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.8rem;

    display: inline-block;
    border-radius: 100px;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    outline: none;

    z-index: 1;
    transition: background-color 0.25s ease-in;
}

.button.focus {
    outline: 1px solid;
}

.button.active,
.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.button0 {
    left: 10px;
    top: 8px;
}

.button1 {
    left: 115px;
    top: 8px;
}

.button2 {
    left: 242px;
    top: 8px;
}
.blend {
    mix-blend-mode: difference;
}

@media (min-width: 1024px) {
    .filter {
        backdrop-filter: blur(20px);
        background-color: rgb(0 0 0 / 3%);
    }
    .menu {
        display: none;
    }
    .button {
        top: 20px;

        width: 210px;
        height: 68.75px;
        box-sizing: border-box;
        font-size: 25px;
    }

    .button0 {
        right: 480px;
        left: unset;
    }

    .button1 {
        right: 250px;
        left: unset;
    }

    .button2 {
        right: 20px;
        left: unset;
    }
}
