.hello {
    display: flex;
    place-items: center;
    min-height: 100vh;
    background-color: #97aa96;
    color: rgba(255, 255, 255, 0.7);
}

.text {
    font-family: Charter;
    font-size: 40px;
    font-size: clamp(1.5rem, 1.4vw + 1rem, 3.125rem);
    line-height: 1.2;
    max-width: 650px;
    margin: 0px auto;
    font-weight: 500;
    padding: 0 20px;
}

.link {
    color: #4c5a4b;
}
