.hello {
    display: flex;
    place-items: center;
    min-height: 100vh;
    background-color: #97aa96;
    color: rgba(255, 255, 255, 0.7);
}

.wrapper {
    max-width: 650px;
    margin: 0px auto;
    padding: 0 20px;
}

.link {
    color: #4c5a4b;
}
